---
---

<!doctype html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="/admin/config.yml" type="text/yaml" rel="cms-config-url" />
    <title>yyb 的 Blog 后台</title>
  </head>
  <body>
    <script is:inline src="https://unpkg.com/decap-cms@3.6.4/dist/decap-cms.js"></script>
    <script is:inline src="/admin/multiple-upload.js"></script>
  </body>
</html>
