---
const images = [
  "/images/placeholder-board-detail.svg",
  "/images/placeholder-board-stack.svg",
  "/images/placeholder-worksite.svg",
];
---

<div class="photo-mosaic" aria-label="隔热板现场图片拼贴">
  <img class="mosaic-large" src={images[0]} alt="" loading="eager" />
  <img src={images[1]} alt="" loading="eager" />
  <img src={images[2]} alt="" loading="eager" />
</div>
